---
import RootLayout from "./RootLayout.astro";
import Footer from "../components/footer.astro";
import WarpBackground from "../components/warp-background";

const { title, description } = Astro.props;

const pathname = Astro.url.pathname;
---

<RootLayout title={title} description={description}>
	<div class="flex relative w-full max-w-screen-xl mx-auto">
		<nav class="hidden md:block relative md:min-w-2xs xl:min-w-sm md:min-h-screen md:ml-4 md:pb-4">
			<div class="hidden md:block w-full h-full md:max-w-2xs xl:max-w-sm fixed -z-10 bottom-4 rounded-b-full overflow-hidden">
				<WarpBackground
					color1="#ffffff"
					color2="#27272a"
					color3="#52525b"
					speed={0.15}
					swirl={1.5}
					swirlIterations={10}
					shapeScale={0.3}
					client:load
				/>
			</div>
		</nav>

		<main class="relative z-10 w-full px-4 sm:px-6 md:px-8">
			<slot />
			<Footer />
		</main>


	</div>
</RootLayout>
